$font-family:  'Roboto', sans-serif;
$ease-in-out-sine: cubic-bezier(0.45, 0.05, 0.55, 0.95);

@font-face {
    font-family: 'TheSans';
    src: local('TheSans'),
         url('../assets/fonts/thesans-2-cufonfonts/TheSans Plain.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'), /* Super Modern Browsers */
}

@font-face {
    font-family: 'Utility';
    src: local('Utility'),
         url('../assets/fonts/Utility/UTILITY.ttf') format('truetype'), /* Super Modern Browsers */
}

html, body, #root {
  height: 100%;
}

.App {
    font-family: 'Roboto';
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    // background-color: #FC31DA;
    background: none;
}

.container {
    padding: 2rem;

    @media (max-width: 1280px) {
    }

    @media (max-width: 1024px) {
        
    }

    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.font-Roboto {
    font-family: 'Roboto';
}

.font-Utility {
    font-family: 'Utility';
}

.bg-pink-500 {
    background-color: #fc31da;
}
  
.bg-cyan-300 {
    background-color: #67e8f9;
}
  
.text-cyan-300 {
    color: #67e8f9;
}
  
  
// svg {
//     width: 100%;
//     height: auto;
// }

// Button
@keyframes BTN-ARROW-PROMPT {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(4px);
    }
    100% {
      transform: translatex(0);
    }
}

[type=button].c-btn, [type=reset].c-btn, [type=submit].c-btn, button.c-btn, a.c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family:  $font-family;
    white-space: nowrap;
    background-color: #e5ff00;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    transition: background-color 0.3s $ease-in-out-sine, color 0.3s linear;
  
    &.no-top {
      margin-top: 0 !important;
    }
  
    span {
      display: block;
    }
  
    svg {
      width: 24px;
      height: 24px;
      transition: transform 0.4s $ease-in-out-sine;
    }
  
    &:hover,
    &:focus {
      background-color: black;
      color: #e5ff00;
  
      svg {
        animation: BTN-ARROW-PROMPT 1s ease-in-out infinite;
        // transform: translatex(3px);
      }
    }
  
    .bg-pink-500 & {
  
      &:hover,
      &:focus {
        background-color: black;
        color: #e5ff00;
      }
    }
  
    .bg-radial & {
  
      &:hover,
      &:focus {
        background-color: black;
        color: #e5ff00;
      }
    }
}

.l-container {
    // max-width: 1440px;
    margin: 0 auto;
}

.f-hero {
    font-size: 4.5rem; // fallback
    font-size: clamp(1.5rem, 1.071rem + 2.14vw, 4.5rem);
    line-height: 1.1;

    &--xl {
        font-size: 7.5rem; // fallback
        font-size: clamp(1.5rem, 0.643rem + 4.29vw, 7.5rem);
        line-height: 1.1;
    }
}

.f-lead {
    font-size: 1.75rem; // fallback
    font-size: clamp(1rem, 0.893rem + 0.54vw, 1.75rem);
    line-height: 1.25;
}

.f-underline-1 {
    text-decoration-line: underline;
    text-underline-offset: 4px; // fallback
    text-decoration-thickness: 4px; // fallback
    text-underline-offset:  .3ex;
    text-decoration-thickness:  .3ex;
    text-decoration-color: #67e8f9;
}

@keyframes SVG-LOGO-FILL-STROKE {
    0% {
      fill: #e5ff00;
      stroke: #e5ff00;
    }
    25% {
      fill: #000;
      stroke: #000;    
    }
    50% {
      fill: #e5ff00;
      stroke: #e5ff00;
    }
    75% {
      fill: #67e8f9;
      stroke: #67e8f9;
    }
    100% {
      fill: #e5ff00;
      stroke: #e5ff00;
    }
  }
  
@keyframes TEXT-LOGO-COLOR {
    0% {
      color: #e5ff00;
      letter-spacing: .05em;
    }
    25% {
      color: #000;
      letter-spacing: -.025em;
    }
    50% {
      color: #e5ff00;
      letter-spacing: .05em;
    }
    75% {
      color: #67e8f9;
      letter-spacing: -.025em;
    }
    100% {
      color: #e5ff00;
      letter-spacing: .05em;
    }
}

.mouse_scroll {
	display: block;
	width: 24px;
  position: fixed;
  z-index: 9999;
  transform: rotateX(180deg) rotateY(180deg);
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
