html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
  }


#content {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  border: none;
  padding: 0;
}

#render-canvas {
  width: 100%;
  height: 100%;
}

#inspector-host {
    position: absolute !important;  
}

#scene-explorer-host {
    position: absolute !important;  
}

.slidecontainer{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  max-width: 400px;
  padding:20px;
  white-space: break-spaces;
}
